@font-face {
	font-family: 'Opensans';
	src: url('../fonts/opensanslight.woff') format('woff'), url('../fonts/opensanslight.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Opensans';
	src: url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroylight.woff') format('woff'), url('../fonts/gilroylight.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroyextrabold.woff') format('woff'), url('../fonts/gilroyextrabold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

/*Глобальные стили*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Opensans', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0.15px;
	color: #464646;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn {
	position: relative;
	display: inline-block;
	width: 220px;
	padding-top: 10px;
	padding-bottom: 6px;
	font-family: 'Gilroy';
	text-align: center;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 2.15px;
	color: rgba(0, 0, 0, 1);
	border: none;
}

.btn::before {
	content: '';
	position: absolute;
	top: 44%;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 8px;
	background-color: #f0c52e;
}

.btn:hover::before,
.btn:focus::before {
	top: 0;
	height: 100%;
	transition: 0.5s;
}

.btn:active {
	color: rgba(0, 0, 0, 0.3);
}

.page-title {
	margin: 0;
	padding: 0;
	font-family: 'Gilroy';
	font-size: 47px;
	font-weight: 800;
	line-height: 48px;
	letter-spacing: 1.21px;
	color: #000000;
}

/*-- HEADER --*/

.header .container {
	position: relative;
	margin-top: 40px;
	padding-top: 34px;
	padding-left: 0;
	padding-right: 0;
	height: 265px;
	background-color: #f7e296;
	background-size: 1000px 10px;
}

.header.header-catalog .container {
	height: 152px;
}

.header-logo {
	position: absolute;
	top: -40px;
	padding-top: 21px;
	padding-left: 60px;
	padding-bottom: 7px;
	font-family: 'Gilroy';
	font-size: 48px;
	font-weight: 800;
}

a .index-logo:hover,
a .index-logo:focus {
	opacity: 0.6;
}

a .index-logo:active {
	opacity: 0.3;
}

/*Как стилизовать плейсхолдеры, чтобы был постоянный бэкграунд-колор шапки без прозрачности или белого фона?*/

.header-navigation {
	display: flex;
	justify-content: space-between;
	padding: 0 60px;
	padding-bottom: 26px;
}

.header-navigation-search {
	position: relative;
	display: flex;
}

.header-navigation-search::before {
	content: '';
	position: absolute;
	bottom: 15px;
	left: 3px;
	height: 18px;
	width: 18px;
	background-image: url('../img/search.svg');
	background-repeat: no-repeat;
	background-position: left;
}

.search-placeholder {
	padding-left: 40px;
	height: 50px;
	width: 295px;
	color: #000000;
	opacity: 0.3;
	border: none;
	outline: none;
	background-color: #f8e296;
}

.search-placeholder:hover,
.search-placeholder:active {
	opacity: 0.6;
}

/*-- Почему иконка становиться тоже прозрачной? --*/

.search-btn {
	margin: 0;
	padding: 0;
	height: 50px;
	width: 85px;
	font: inherit;
	text-align: center;
	vertical-align: middle;
	color: #000000;
	border: 2px solid #000000;
	background-color: #ffffff;
	opacity: 0;
	background-color: #f8e296;
}

.search-placeholder:focus {
	opacity: 1;
	border-bottom: 2px solid #000000;
}

.search-placeholder:focus + .search-btn {
	opacity: 1;
}

.search-placeholder:focus + .search-btn:hover,
.search-btn:focus {
	color: #ffffff;
	background-color: #000000;
}

.search-placeholder:focus + .search-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #000000;
}

.header-user-navigation {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 500px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-user-navigation-link {
	color: #000000;
	padding-left: 27px;
}

.header-user-navigation-login {
	margin-right: auto;
	background-image: url('../img/user.svg');
	background-repeat: no-repeat;
	background-position: 0;
}

.header-user-navigation-comparison {
	background-image: url('../img/compare.svg');
	background-repeat: no-repeat;
	background-position: 7px;
}

.header-user-navigation-cart {
	margin-left: 36px;
	background-image: url('../img/cart.svg');
	background-repeat: no-repeat;
	background-position: 5px;
}

.header-user-navigation-link:nth-child(2) {
	margin-left: 20px;
	opacity: 0.3;
}

.header-user-navigation li:hover,
.header-user-navigation li:focus {
	opacity: 0.6;
}

.header-user-navigation li:active {
	opacity: 0.3;
}

.header-menu {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0 60px;
	padding-bottom: 65px;
}

.header-menu-item {
	margin: 0;
	padding: 0;
}

.header-menu-item:first-child {
	position: relative;
	margin-right: auto;
	padding-right: 32px;
}

.header-menu-item:first-child .header-menu-link::after  {
	position: absolute;
	right: 5px;
	top: 6px;
	content: '';
	width: 16px;
	height: 16px;
	background-image: url('../img/plus.svg');
	background-repeat: no-repeat;
}

.header-menu-item:nth-child(3) {
	margin-left: 34px;
}

.header-menu-item:last-child {
	margin-left: 108px;
	margin-right: -3px;
}

.header-menu-link {
	color: #000000;
	font-family: 'Gilroy';
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

.header-menu-link:hover,
.header-menu-link:focus {
	opacity: 0.6;
}

.header-menu-link:active {
	opacity: 0.3;
}

.header-menu-item:first-child:hover > .header-menu-sub-menu {
	z-index: 2;
	display: flex;
}

.header-menu-sub-menu {
	display: none;
	position: absolute;
	left: -60px;
	width: 1040px;
	height: 99px;
	margin: 0 auto;
	padding: 30px 60px;
	list-style: none;
	background-color: #f8e296;
}

.header-menu-sub-item {
	display: flex;
	flex-direction: column;
	width: 200px;
	margin: 0;
	margin-right: 40px;
	padding: 0;
}

.header-menu-sub-item:nth-child(5) {
	padding-bottom: 39px;
}

.header-menu-sub-link {
	color: #000000;
}

.header-menu-sub-link:hover,
.header-menu-sub-link:focus {
	opacity: 0.6;
}

.header-menu-sub-link:active {
	opacity: 0.3;
}

.slider-img {
	width: 526px;
	height: 497px;
}

.slider-img-1 {
	width: 384px;
	height: 486px;
	padding-left: 90px;
}

.slider-img-2 {
	width: 345px;
	height: 485px;
	padding-top: 12px;
	padding-left: 116px;
}

.slider-img-3 {
	width: 526px;
	height: 334px;
	padding-top: 65px;
	padding-left: 31px;
}

.slider-info {
	position: relative;
	right: -71px;
	width: 500px;
	min-height: 175px;
	padding: 80px 0;
	padding-right: 63px;
}

.slider-info-title {
	width: 505px;
	height: 114px;
	margin: 0;
	padding: 0;
	padding-bottom: 19px;
	color: #000000;
	font-family: 'gilroy';
	font-size: 48px;
	font-weight: 800;
	line-height: 56px;
	letter-spacing: 0.17px;
}

.slider-info-title::before {
	position: absolute;
	top: 38px;
	content: '';
	display: block;
	width: 100px;
	height: 7px;
	background-color: #ffffff;
}

.slider-info-title::after {
	z-index: -1;
	position: absolute;
	top: -14px;
	right: 48px;
	content: '';
	display: block;
	color: #ffffff;
	font-family: "Gilroy";
	font-size: 179px;
	font-weight: 800;
	line-height: 179.2px;
	letter-spacing: 0.36px;
}

.slider-first .slider-info .slider-info-title::after {
	content: '01';
}

.slider-second .slider-info .slider-info-title::after {
	content: '02';
}

.slider-third .slider-info .slider-info-title::after {
	content: '03';
}

.slider-info-description {
	width: 500px;
	margin: 0;
	padding: 0;
	padding-bottom: 41px;
}

.slider-info .btn {
	margin-top: auto;
	margin-bottom: 49px;
}

.slider-details {
	display: flex;
	margin: 0;
	padding: 0;
}

.slider-details-value {
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 1px;
}

.slider-details-title {
	margin: 0;
	padding: 0;
}

.slider-details-value-item, .slider-details-title-item {
	width: 158px;
}

.slider-details-value-item:nth-child(2), .slider-details-title-item:nth-child(2) {
	width: 138px;
}

.slider-details-value-item {
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: 'gilroy';
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
}

.slider-details-title-item {
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.13px;
}

.slider-navigation {
	z-index: 1;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 273px;
	right: 103px;
	width: 78px;
}

.slider-navigation-btn {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #fff;
	background-image: url('../img/slider-button-empty.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.slider {
	z-index: 1;
	position: relative;
	top: -57px;
	height: 481px;
}

.slider-item {
	display: flex;
	flex-wrap: wrap;
	height: inherit;
	padding-bottom: 95px;
	position: absolute;
	top: 0;
	width: inherit;
}

.slider-first {
	visibility: hidden;
}

.slider-second {
	visibility: hidden;
}

.slider-third {
	visibility: hidden;
}

#slider-navigation-btn-1:checked ~ .slider-navigation label[for="slider-navigation-btn-1"],
#slider-navigation-btn-2:checked ~ .slider-navigation label[for="slider-navigation-btn-2"],
#slider-navigation-btn-3:checked ~ .slider-navigation label[for="slider-navigation-btn-3"] {
	background-image: url('../img/slider-button.svg');
}

#slider-navigation-btn-1:checked ~ .slider .slider-first {
	visibility: visible;
}

#slider-navigation-btn-2:checked ~ .slider .slider-second {
	visibility: visible;
}

#slider-navigation-btn-3:checked ~ .slider .slider-third {
	visibility: visible;
}

.popular-items-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-bottom: 79px;
	list-style: none;
}

.popular-items-list-item {
	width: 160px;
}

.popular-items-list-link-image {
	display: flex;
	width: 160px;
	height: 160px;
	margin-bottom: 35px;
	background-color: #f8e296;
}

.popular-items-list-link-image img {
	margin: 0 auto;
}

.popular-items-list-item:nth-child(2) img {
	margin-top: auto;
}

.popular-items-list-link {
	display: block;
	color: #000000;
	font-family: 'gilroy';
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: 0.18px;
}

.popular-items-list-link:hover > .popular-items-list-link-image {
	background-color: #f0c52e;
	transition: 0.25s;
}

.popular-items-list-link:focus > .popular-items-list-link-image {
	background-color: #f0c52e;
}

.popular-items-list-link:active > .popular-items-list-link-image img {
	opacity: 0.3;
}

.popular-items-list-link:active > .popular-items-list-link-title {
	opacity: 0.3;
}

.service-slider {
	position: relative;
	display: flex;
	padding-bottom: 81px;
	min-height: 320px;
}

.service-slider::before {
	content: '';
	position: absolute;
	top: 100px;
	width: 100%;
	height: 288px;
	background-color: #e5e5e5;
}

.service-slider-option {
	position: absolute;
	left: 400px;
	width: 760px;
	height: 320px;
}

.service-slider-navigation {
	position: absolute;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	width: 277px;
	padding-top: 78px;
	padding-bottom: 49px;
	border-right: 7px solid #000000;
}

.service-slider-navigation .service-slider-navigation-btn {
	z-index: 1;
	position: relative;
	display: inline-block;
	width: 160px;
	margin-bottom: 24px;
	padding-top: 10px;
	padding-bottom: 6px;
	font-family: 'Gilroy';
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: 2.15px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	color: #000000;
	background-color: inherit;
}

.service-slider-navigation .service-slider-navigation-btn::before {
	content: '';
	position: absolute;
	top: 45%;
	left: 0;
	z-index: -1;
	height: 8px;
	width: 160px;
	height: 8px;
	background-color: #f0c52e;
}

.service-slider-navigation .service-slider-navigation-btn:hover::before {
	top: 0;
	width: 160px;
	height: 100%;
	transition: 0.5s;
	background-color: #f0c52e;
}

.service-slider-navigation .service-slider-navigation-btn:focus {
	color: #f7e184;
}

.service-slider-navigation .service-slider-navigation-btn:focus::before {

}

#service-slider-navigation-btn-1:checked ~ .service-slider-navigation label[for="service-slider-navigation-btn-1"],
#service-slider-navigation-btn-2:checked ~ .service-slider-navigation label[for="service-slider-navigation-btn-2"],
#service-slider-navigation-btn-3:checked ~ .service-slider-navigation label[for="service-slider-navigation-btn-3"] {
	color: #f7e184;
}

#service-slider-navigation-btn-1:checked ~ .service-slider-navigation label[for="service-slider-navigation-btn-1"]::before,
#service-slider-navigation-btn-2:checked ~ .service-slider-navigation label[for="service-slider-navigation-btn-2"]::before,
#service-slider-navigation-btn-3:checked ~ .service-slider-navigation label[for="service-slider-navigation-btn-3"]::before {
	top: 0;
	width: 278px;
	height: 100%;
	transition: 0.5s;
	background-color: #000000;
}

.service-slider-first {
	visibility: hidden;
	background-image: url('../img/delivery.svg');
	background-repeat: no-repeat;
	background-position: right center;
}

.service-slider-second {
	visibility: hidden;
	background-image: url('../img/warranty.svg');
	background-repeat: no-repeat;
	background-position: right center;
}

.service-slider-third {
	visibility: hidden;
	background-image: url('../img/credit.svg');
	background-repeat: no-repeat;
	background-position: right center;
}

#service-slider-navigation-btn-1:checked ~ .service-slider .service-slider-first {
	visibility: visible;
}

#service-slider-navigation-btn-2:checked ~ .service-slider .service-slider-second {
	visibility: visible;
}

#service-slider-navigation-btn-3:checked ~ .service-slider .service-slider-third {
	visibility: visible;
}

.service-slider-title {
	padding-top: 73px;
	padding-bottom: 31px;
}

.service-slider-description {
	width: 437px;
	margin: 0;
	padding: 0;
}

.brands-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-bottom: 84px;
	list-style: none;
}

.brands-list-item {
	width: 260px;
}

.brands-list-link {
	opacity: 0.2;
	filter: grayscale(100%);
}

.brands-list-link:hover,
.brands-list-link:focus {
	opacity: 1.0;
	filter: none;
}

.about-us-and-contacts {
	display: flex;
	justify-content: space-between;
	padding-bottom: 84px;
}

.about-us {
	width: 460px;
	margin-right: 140px;
}

.about-us-and-contacts-title {
	position: relative;
	padding-top: 52px;
	padding-bottom: 43px;
	letter-spacing: 0.21px;
}

.about-us-and-contacts-title::before {
	position: absolute;
	top: 0;
	content: '';
	display: block;
	width: 80px;
	height: 7px;
	background-color: #000000;
}

.about-us-description {
	width: 460px;
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
}

.about-us-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 46px;
	padding: 6px 35px;
}

.about-us .btn,
.contacts .btn {
	width: 260px;
}

.about-us-list-item {
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: 'Gilroy';
	font-size: 16px;
	font-weight: 800;
	line-height: 40px;
}

.contacts {
	width: 560px;
}

.contacts-description {
	margin: 0;
	padding: 0;
	padding-bottom: 39px;
}

.contacts-map {
	display: block;
	padding-bottom: 58px;
}

.footer {
	color: #ffffff;
	background-color: #464646;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	padding-top: 63px;
	padding-bottom: 22px;
}

.footer-logo {
	fill: #ffc600;
}

.footer-user-navigation {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-user-navigation li {
	margin: 0;
	padding: 0;
	margin-left: 36px;
}

.footer-user-navigation-login{
	background-image: url(../img/user-footer.svg);
	background-repeat: no-repeat;
	background-position: 0;
	color: pink;
}

.footer-user-navigation-comparison{
	background-image: url(../img/compare-footer.svg);
	background-repeat: no-repeat;
	background-position: 7px;
}

.footer-user-navigation-cart{
	background-image: url(../img/cart-footer.svg);
	background-repeat: no-repeat;
	background-position: 5px;
}

.footer-user-navigation-link {
	opacity: 0.7;
	color: #ffffff;
	padding-left: 27px;
}

.footer-user-navigation-link:nth-child(2) {
	opacity: 0.3;
}

.footer-user-navigation-link:hover,
.footer-user-navigation-link:focus {
	opacity: 1;
}

.footer-user-navigation-link:active {
	opacity: 0.3;
}

.footer-middle {
	display: flex;
	justify-content: space-between;
	padding-bottom: 63px;
}

.footer-adress {
	margin-right: auto;
}

.footer-phone {
	margin-left: auto;
}

.footer-menu {
	display: flex;
	width: 465px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-menu-item {
	margin: 0;
	padding: 0;
	margin-right: 33px;
}

.footer-menu-link {
	color: #ffffff;
	font-family: 'Gilroy';
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	opacity: 1;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
	opacity: 0.6;
}

.footer-menu-link:active {
	opacity: 0.3;
}

.footer-bottom {
	position: relative;
	display: flex;
	padding-bottom: 65px;
}

.footer-social::before {
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	display: block;
	width: 80px;
	height: 7px;
	background-color: #ffc600;
	margin-top: 15px;
}

.footer-social {
	display: flex;
	justify-content: space-between;
	width: 160px;
	margin: 0 auto;
	margin-left: 509px;
	padding: 0;
	list-style: none;
}

.footer-social-item {
	margin: 0;
	padding: 0;
	margin-right: 19px;
}

.footer-social-link {
	opacity: 0.3;
}

.footer-social-link:hover,
.footer-social-link:focus {
	opacity: 0.6;
}

.footer-social-link:active {
	opacity: 0.1;
}

.modal-appointment-form label {
	color: #000000;
	font-family: 'Gilroy';
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
}

.modal-appointment-form input {
	opacity: 0.4;
	color: #464646;
	font-family: 'Opensans';
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	background-color: #f2f2f2;
	border: none;
}

.modal-appointment-form input:hover {

}

.modal-appointment-form input:focus {

}

.modal-appointment-form input:disabled {

}

/*Внутренняя страница*/

.catalog-title {
	padding-top: 37px;
	padding-left: 59px;
	padding-bottom: 20px;
	letter-spacing: 0.17px;
}

.breadcrumbs {
	display: flex;
	margin: 0;
	padding: 0;
	padding-left: 59px;
	padding-bottom: 44px;
	width: 1040px;
	list-style: none;
}

.breadcrumbs-link {
	padding-right: 35px;
	color: #000000;
	opacity: 0.3;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.14px;
}

.breadcrumbs-link::after {
	content: '';
	display: inline-block;
	width: 4px;
	height: 7px;
	margin-left: 18px;
	background-image: url('../img/nav-arrow.svg');
	background-repeat: no-repeat;
}

.breadcrumbs-item:last-child .breadcrumbs-link::after {
	display: none;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
	opacity: 0.6;
}

.breadcrumbs-link:active {
	opacity: 0.1;
}

.breadcrumbs-link-active:hover,
.breadcrumbs-link-active:focus,
.breadcrumbs-link-active:active {
	opacity: 0.3;
}

.catalog-titles {
	background: linear-gradient(to right,#dbdbdb 0%,#dbdbdb 49%,#ebebeb 50%,#ebebeb 100%);
}

.catalog-titles .container {
	display: flex;
}

.catalog-grid {
	display: flex;
}

.filter {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: auto;
	background-color: #efefef;
}

.filter-title {
	display: flex;
	align-items: center;
	width: 200px;
	height: 70px;
	margin: 0;
	padding-left: 60px;
	padding-right: 68px;
	color: #000000;
	font-family: 'Gilroy';
	font-size: 16px;
	font-weight: 800;
	line-height: 24px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.91px;
	background-color: #dbdbdb;
}

.filter-form {
	width: 200px;
	padding-top: 68px;
	padding-left: 60px;
	padding-right: 68px;
}

.filter-form-field {
	margin: 0;
	padding: 0;
	padding-bottom: 37px;
	border: none;
}

.filter-form-field-title {
	width: 200px;
	margin: 0;
	padding: 0;
	padding-top: 11px;
	margin-bottom: 25px;
	color: #000000;
	font-family: 'Gilroy';
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: 0.18px;
	border-top: 2px solid #000;
}

.filter-form-field label {
	color: #000000;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.14px;
}

.range-controls {
	position: relative;
	width: 195px;
	margin-top: 7px;
	padding-left: 5px;
}

.range-controls .scale {
	height: 2px;
	background-color: #dbdbdb;
}

.range-controls .bar {
	width: 112px;
	height: 2px;
	background: #91c92f;
}

.range-controls .toggle {
	position: absolute;
	top: -6px;
	left: 0;
	width: 10px;
	height: 10px;
	background: #eee;
	border: 2px solid #000;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle:active {
	background-color: #7eae29;
	border: 3px solid #fff;
	box-shadow: 0 5px 5px -3px rgba(0,0,0,.75);
}

.range-controls .toggle-min {
	left: -2px;
}

.range-controls .toggle-max {
	left: 110px;
}

.range-controls .bar {
	width: 112px;
	height: 2px;
	background: #91c92f;
}

.selected-price span:first-child {
	margin-right: 60px;
}

.filter-form-checkbox {
	position: relative;
	display: block;
	width: 100px;
	margin-bottom: 10px;
	padding-left: 39px;
}

.filter-form-checkbox:before {
	position: absolute;
	top: 3px;
	left: 0;
	content: '';
	display: block;
	width: 23px;
	height: 23px;
	padding-left: 39px;
	background-image: url('../img/checkbox-off.svg');
	background-repeat: no-repeat;
	background-position: left;
	cursor: pointer;
}

.sort {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	width: 760px;
	padding-left: 72px;
	background-color: #ebebeb;
}

.sort-title {
	margin: 0;
	margin-right: 48px;
	padding: 0;
	color: #000000;
	font-family: 'Gilroy';
	font-size: 16px;
	font-weight: 800;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.91px;
}

.sort-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sort-list-item {
	margin-right: 27px;
}

.sort-list-link {
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	opacity: 0.3;
}

.sort-list-link-active {
	opacity: 1.0;
}

.sort-list-link:hover,
.sort-list-link:focus {
	opacity: 0.6;
}

.sort-list-link:active {
	opacity: 1.0;
}

.sort-btn {
	margin-left: auto;
}

.sort-btn-down {
	margin-left: 15px;
}

.sort-btn-up,
.sort-btn-down,
.sort-btn-up,
.sort-btn-down {
	opacity: 0.2;
}

.sort-btn-up:hover,
.sort-btn-down:hover,
.sort-btn-up:focus,
.sort-btn-down:focus {
	opacity: 0.4;
}

.sort-btn-up:active,
.sort-btn-down:active {
	opacity: 1;
}

.catalog-grid-wrapper {
	background: linear-gradient(to right,#efefef 0%,#efefef 29%,#fff 30%,#fff 100%);
}

.catalog-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-top: 70px;
	padding-left: 72px;
	list-style: none;
}

.catalog-list-item-title {
	width: 260px;
	color: #000000;
	font-family: 'Gilroy';
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;s
	letter-spacing: 0.18px;
}

.catalog-list-item {
	width: 360px;
}

.catalog-list-item img {
	margin-bottom: 21px;
}

.catalog-list-item-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 49px;
}

.catalog-list-item-info: {
	margin-bottom: 42px;
}

.catalog-list-item-price {
	width: 80px;
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.16px;
}

.btn-comparison {
	opacity: 0.5;
	color: #000000;
	font-size: 13px;
	line-height: 36px;
	letter-spacing: 0.13px;
	text-align: center;
	vertical-align: middle;
	border: none;
	background-color: rgba(0, 0, 0, 0.0);
}

.btn-comparison:hover,
.btn-comparison:focus {
	opacity: 1.0;
}

.btn-comparison:active {
	opacity: 0.2;
}

.pagination nav {
	display: flex;
	justify-content: space-between;
	margin-left: 72px;
	margin-bottom: 52px;
	padding: 25px 30px;
	background-color: #ebebeb;
}

.pagination-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination-list-item {
	margin-right: 30px;
}

.pagination-btn {
	color: #000000;
	font-family: 'Gilroy';
	font-size: 16px;
	font-weight: 800;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.91px;
}

/*Надо было делать на данном этапе?*/

.pagination-btn:hover,
.pagination-btn:focus {

}

.pagination-btn:active {

}

.pagination-list-link {
	opacity: 0.3;
	color: #000000;
	font-family: 'Gilroy';
	font-size: 16px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.91px;
}

.pagination-list-link-active {
	opacity: 1.0;
}

.pagination-list-link:hover,
.pagination-list-link:focus {
	opacity: 0.6;
}

.pagination-list-link:active {
	opacity: 1.0;
}




.modal-appointment {
	width: 760px;
	min-height: 380px;
	padding: 95px 100px 78px;
	background-color: #fff;
}

.modal-appointment-form {
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 18px;
	font-family: "Gilroy ExtraBold","Arial",sans-serif;
}

.modal-appointment-form-name {
	margin-right: 40px;
}

.modal-appointment-email,
.modal-appointment-name {
	display: inline-block;
	width: 360px;
	vertical-align: baseline;
}

.modal-appointment-form-message textarea {
	width: 740px;
	height: 124px;
	padding: 16px 20px;
	resize: horizontal;
}
